In [60]:
import numpy as np
import pandas as pd
from scipy import stats

In [43]:
df = pd.read_csv('../Caso_Practico/vgsales.csv', delimiter= ',')
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [44]:
np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(1), dtype=str, skip_header=1, delimiter= ',')

array(['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii', ...,
       'SCORE International Baja 1000: The Official Game', 'Know How 2',
       'Spirits & Spells'], dtype='<U132')

In [45]:
names = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(1), dtype=str, skip_header=1, delimiter= ',')
names.shape

(16598,)

In [46]:
names = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(1), dtype=str, skip_header=1, delimiter= ',')
names[:5]

array(['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii',
       'Wii Sports Resort', 'Pokemon Red/Pokemon Blue'], dtype='<U132')

In [47]:
platfrom = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(2), dtype=str, skip_header=1, delimiter= ',', invalid_raise=False)
platfrom.shape

C:\Users\migue\AppData\Local\Temp\ipykernel_16660\4227687209.py:1: ConversionWarning: Some errors were detected !
    Line #3552 (got 2 columns instead of 1)
    Line #8988 (got 2 columns instead of 1)
    Line #10381 (got 2 columns instead of 1)
    Line #14590 (got 2 columns instead of 1)
    Line #15808 (got 2 columns instead of 1)
    Line #16109 (got 2 columns instead of 1)
    Line #16163 (got 2 columns instead of 1)
    Line #16469 (got 2 columns instead of 1)
  platfrom = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(2), dtype=str, skip_header=1, delimiter= ',', invalid_raise=False)

(16590,)

In [48]:
year = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(1), dtype=int, skip_header=1, delimiter= ',')
year.shape

(16598,)

In [49]:
geners = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(1), dtype=str, skip_header=1, delimiter= ',')
geners.shape

(16598,)

In [50]:
publishers = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(1), dtype=str, skip_header=1, delimiter= ',')
publishers.shape

(16598,)

In [51]:
NA_Sales = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(1), dtype=str, skip_header=1, delimiter= ',')
NA_Sales.shape

(16598,)

In [52]:
EU_Sales = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(1), dtype=str, skip_header=1, delimiter= ',')
EU_Sales.shape

(16598,)

In [53]:
JP_Sales = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(1), dtype=str, skip_header=1, delimiter= ',')
JP_Sales.shape

(16598,)

In [54]:
Other_Sales = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(1), dtype=str, skip_header=1, delimiter= ',')
Other_Sales.shape

(16598,)

In [65]:
Global_Sales = np.genfromtxt('../Caso_Practico/vgsales.csv' , usecols=(1), dtype=str, skip_header=1, delimiter= ',')
Global_Sales.shape

(16598,)

CALCULANDO EL PROMEDIO

In [67]:
Global_Sales = np.array([82.74, 40.24, 35.82, 33.00, 31.37])
mean = np.mean(Global_Sales)
print(f"Promedio: {mean}")

Promedio: 44.634

CALCULANDO LA MEDIANA

In [68]:
Global_Sales = np.array([82.74, 40.24, 35.82, 33.00, 31.37])
median = np.median(Global_Sales)
print(f"Mediana: {median}")

Mediana: 35.82

CALCULANDO LA MODA

In [69]:
Global_Sales = np.array([82.74, 40.24, 35.82, 33.00, 31.37])
(mode, count) = np.unique(Global_Sales, return_counts=True)
mode = mode[count == count.max()]
print(f"Moda: {mode}")

Moda: [31.37 33.   35.82 40.24 82.74]

CALCULANDO LA DESVIACION STD

In [70]:
Global_Sales = np.array([82.74, 40.24, 35.82, 33.00, 31.37])
std = np.std(Global_Sales)
print(f"Desviación estándar: {std}")

Desviación estándar: 19.289088729123517

Encontrar el año con las mayores ventas globales de videojuegos.

ENCONTRAR EL AÑO CON MAYORES VENTAS GLOBALES POR VIDEOJUEGOS

ENCONTRAR LA PLATAFORMA QUE GENERO LAS MAYORES VENTAS GLOBALES DE VIDEOJUEGOS

Encontrar el editor que generó las mayores ventas globales de videojuegos.

Comparar las ventas globales de los videojuegos de las consolas de Nintendo (por ejemplo, "Wii",

Calcular las ventas globales totales de videojuegos para cada año. ¿Existe algún patrón visible o tendencia en las ventas a lo largo del tiempo?

Encontrar el juego que ha generado las mayores ventas globales

Encontrar la plataforma que ha generado las mayores ventas para el género "Sports".