In [2]:
import pandas as pd
import mysql.connector as connector

In [3]:
connection = connector.connect(
    host="localhost",
    port="3306",
    user="root",
    password="Admin",
    database="sakila"
)

In [4]:
df_tables = pd.read_sql("SHOW TABLES;", connection)
df_tables.head(10)

C:\Users\migue\AppData\Local\Temp\ipykernel_14008\3652345030.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_tables = pd.read_sql("SHOW TABLES;", connection)

          Tables_in_sakila
0                    actor
1               actor_info
2                  address
3                 category
4                     city
5                  country
6                 customer
7  customer_film_favorites
8            customer_list
9                employees