# SPOTIFY
  leer todos los CSV de una carpeta y cargarlos en un unico dataframe de pandas
  
  este enfoque sirve cuando tienen la misma estructura de columnas pero solo 
  cambia las fechas

In [3]:
import pandas as pd
import os

In [5]:
file_names = os.listdir('../../data/spotify/')
file_names

['1950.csv',
 '1960.csv',
 '1970.csv',
 '1980.csv',
 '1990.csv',
 '2000.csv',
 '2010.csv']

In [7]:
df = pd.DataFrame()
for file_name in file_names:
    df_current = pd.read_csv ('../../data/spotify/'+ file_name)
    print(file_name, df_current.shape)
    df = pd.concat([df, df_current], ignore_index=True)

1950.csv (73, 15)
1960.csv (97, 15)
1970.csv (104, 15)
1980.csv (104, 15)
1990.csv (104, 15)
2000.csv (100, 15)
2010.csv (100, 15)

In [9]:
df.shape

(682, 15)

In [10]:
df.head()

,Number,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,Put Your Head On My Shoulder,Paul Anka,adult standards,2000,116,34,55,-9,10,47,155,75,3,72
1,2,Whatever Will Be Will Be (Que Sera Sera) (with...,Doris Day,adult standards,1948,177,34,42,-11,72,78,123,86,4,62
2,3,Everybody Loves Somebody,Dean Martin,adult standards,2013,81,49,26,-9,34,40,162,81,4,61
3,4,Take Good Care Of My Baby - 1990 Remastered,Bobby Vee,adult standards,2011,82,43,49,-12,12,66,151,70,6,60
4,5,A Teenager In Love,Dion & The Belmonts,adult standards,1959,79,38,56,-9,13,62,158,67,3,60

In [11]:
df.tail()

,Number,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
677,96,Stereo Hearts (feat. Adam Levine),Gym Class Heroes,dance pop,2011,90,80,65,-3,27,80,211,3,10,56
678,97,Dynamite,Taio Cruz,dance pop,2011,120,79,76,-4,3,87,203,0,8,56
679,98,Break Your Heart,Taio Cruz,dance pop,2011,122,89,67,-5,24,68,185,0,3,54
680,99,Summer Air,ItaloBrothers,dance pop,2017,102,75,76,-4,8,49,184,6,7,43
681,100,All I Wanna Do,Martin Jensen,big room,2016,112,79,73,-4,7,56,194,16,7,32

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Number     682 non-null    int64
 1   title      682 non-null    object
 2   artist     682 non-null    object
 3   top genre  670 non-null    object
 4   year       682 non-null    int64
 5   bpm        682 non-null    int64
 6   nrgy       682 non-null    int64
 7   dnce       682 non-null    int64
 8   dB         682 non-null    int64
 9   live       682 non-null    int64
 10  val        682 non-null    int64
 11  dur        682 non-null    int64
 12  acous      682 non-null    int64
 13  spch       682 non-null    int64
 14  pop        682 non-null    int64
dtypes: int64(12), object(3)
memory usage: 80.0+ KB

In [13]:
df.isnull()

,Number,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
678,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
679,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
680,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
681,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
df.isnull().sum()

Number        0
title         0
artist        0
top genre    12
year          0
bpm           0
nrgy          0
dnce          0
dB            0
live          0
val           0
dur           0
acous         0
spch          0
pop           0
dtype: int64

In [15]:
df.describe()

,Number,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
count,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000
mean,49.756598,1990.953079,118.730205,60.293255,58.265396,-8.526393,18.953079,58.321114,217.077713,32.337243,5.988270,63.104106
std,28.948625,19.530784,24.346928,22.036192,15.141184,3.614302,14.197604,24.350677,59.323609,29.724047,5.772982,13.916977
min,1.000000,1945.000000,63.000000,6.000000,18.000000,-24.000000,2.000000,6.000000,98.000000,0.000000,2.000000,26.000000
25%,25.000000,1973.000000,102.000000,43.000000,48.250000,-11.000000,10.000000,40.000000,179.000000,6.000000,3.000000,55.000000
50%,49.000000,1986.500000,119.000000,64.000000,59.000000,-8.000000,13.000000,59.000000,211.000000,23.000000,4.000000,65.000000
75%,73.750000,2010.000000,133.000000,78.000000,69.000000,-6.000000,25.000000,78.000000,243.000000,56.000000,6.000000,74.000000
max,104.000000,2019.000000,199.000000,99.000000,96.000000,-1.000000,90.000000,99.000000,511.000000,100.000000,47.000000,94.000000

In [16]:
df['top genre'].fillna('undefined', inplace=True)
df.isnull().sum()

Number       0
title        0
artist       0
top genre    0
year         0
bpm          0
nrgy         0
dnce         0
dB           0
live         0
val          0
dur          0
acous        0
spch         0
pop          0
dtype: int64

In [ ]:
# OTRA OPCION RELLENAR LOS NULOS CON LA MODA
top_genre_mode = df['top genre'].mode().iloc[0]
top_genre_mode

In [17]:
# BORRAR COLUMNAS
df.drop('Number', axis=1, inplace=True)

In [18]:
df.head()

,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,Put Your Head On My Shoulder,Paul Anka,adult standards,2000,116,34,55,-9,10,47,155,75,3,72
1,Whatever Will Be Will Be (Que Sera Sera) (with...,Doris Day,adult standards,1948,177,34,42,-11,72,78,123,86,4,62
2,Everybody Loves Somebody,Dean Martin,adult standards,2013,81,49,26,-9,34,40,162,81,4,61
3,Take Good Care Of My Baby - 1990 Remastered,Bobby Vee,adult standards,2011,82,43,49,-12,12,66,151,70,6,60
4,A Teenager In Love,Dion & The Belmonts,adult standards,1959,79,38,56,-9,13,62,158,67,3,60