In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('../../Grupo5_Analisis/Data/World Cities Database Population (OCT-2022).csv', sep = ';', na_filter=False)
df.head(5)

C:\Users\migue\AppData\Local\Temp\ipykernel_308\820212315.py:1: DtypeWarning: Columns (0,13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../Grupo5_Analisis/Data/World Cities Database Population (OCT-2022).csv', sep = ';', na_filter=False)

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,"Coordinates,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
0,509184,Pizhanka,Pizhanka,"Pizhanka,Pizjanka,Пижанка",P,PPL,RU,Russian Federation,,33,,,,3900,,122,Europe/Kirov,2012-01-17,Russian Federation,"57.46042,48.542,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
1,509273,Pitelino,Pitelino,"Petelino,Pitelino,Пителино",P,PPL,RU,Russian Federation,,62,,,,2355,,120,Europe/Moscow,2012-01-17,Russian Federation,"54.57768,41.81448,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
2,510139,Petro-Slavyanka,Petro-Slavyanka,"Petro-Slav'anka,Petro-Slavjanka,Petro-Slavyank...",P,PPL,RU,Russian Federation,,66,,,,1308,,17,Europe/Moscow,2016-12-20,Russian Federation,"59.80222,30.50694,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
3,513051,Palkino,Palkino,"Palkino,Палкино,Պալկինո",P,PPL,RU,Russian Federation,,60,,,,3112,,67,Europe/Moscow,2012-01-17,Russian Federation,"57.54089,28.01257,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
4,514906,Orlovka,Orlovka,"Orlovka,Орловка",P,PPL,RU,Russian Federation,,70,,,,3236,,115,Europe/Moscow,2012-01-17,Russian Federation,"44.69139,44.17444,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."

In [10]:
df.describe()

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,"Coordinates,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
count,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634,140634
unique,140634,123647,122923,113140,3,20,248,231,108,641,14605,35539,17657,44748,1813,6343,397,3726,230,140616
top,509184,San Francisco,San Francisco,,P,PPL,US,United States,,02,,,,0,,8,Europe/Rome,2017-05-23,United States,"47.11667,27.18333,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
freq,1,44,44,24391,140632,76841,16735,16735,136430,6093,21327,72281,120094,9220,113010,707,9947,7829,16735,2

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140634 entries, 0 to 140633
Data columns (total 20 columns):
 #   Column                                                                                                                                                                                                                                                                                    Non-Null Count   Dtype
---  ------                                                                                                                                                                                                                                                                                    --------------   -----
 0   Geoname ID                                                                                                                                                                                                                                                                                140634 non-null  object
 1   Name                                                                                                                                                                                                                                                                                      140634 non-null  object
 2   ASCII Name                                                                                                                                                                                                                                                                                140634 non-null  object
 3   Alternate Names                                                                                                                                                                                                                                                                           140634 non-null  object
 4   Feature Class                                                                                                                                                                                                                                                                             140634 non-null  object
 5   Feature Code                                                                                                                                                                                                                                                                              140634 non-null  object
 6   Country Code                                                                                                                                                                                                                                                                              140634 non-null  object
 7   Country name EN                                                                                                                                                                                                                                                                           140634 non-null  object
 8   Country Code 2                                                                                                                                                                                                                                                                            140634 non-null  object
 9   Admin1 Code                                                                                                                                                                                                                                                                               140634 non-null  object
 10  Admin2 Code                                                                                                                                                                                                                                                                               140634 non-null  object
 11  Admin3 Code                                                                                                                                                                                                                                                                               140634 non-null  object
 12  Admin4 Code                                                                                                                                                                                                                                                                               140634 non-null  object
 13  Population                                                                                                                                                                                                                                                                                140634 non-null  object
 14  Elevation                                                                                                                                                                                                                                                                                 140634 non-null  object
 15  DIgital Elevation Model                                                                                                                                                                                                                                                                   140634 non-null  object
 16  Timezone                                                                                                                                                                                                                                                                                  140634 non-null  object
 17  Modification date                                                                                                                                                                                                                                                                         140634 non-null  object
 18  LABEL EN                                                                                                                                                                                                                                                                                  140634 non-null  object
 19  Coordinates,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,  140634 non-null  object
dtypes: object(20)
memory usage: 21.5+ MB

Let's start. There are a lot of commas in the coordinates column. First, we rename the column, and, we split the string by commas and take the first two elements

In [ ]:
column_names = list(df.columns)
column_names[-1] = 'Coordinates'
df.columns = column_names
df['Coordinates'] = df['Coordinates'].apply(lambda x: str(x).split(',')[:2])

Now we can convert the coordinates to floats

In [ ]:
df['Coordinates']

0           [57.46042, 48.542]
1         [54.57768, 41.81448]
2         [59.80222, 30.50694]
3         [57.54089, 28.01257]
4         [44.69139, 44.17444]
                  ...
140629    [45.72176, 33.23689]
140630    [48.14431, 30.82103]
140631    [44.93845, 35.15834]
140632    [51.50208, 23.93806]
140633    [46.30452, 29.01519]
Name: Coordinates, Length: 140634, dtype: object

In [ ]:
df['Latitude'] = df['Coordinates'].apply(lambda x: x[0])
df['Longitude'] = df['Coordinates'].apply(lambda x: x[-1])

and convert the columns to numeric, the errors = 'coerce' is used to fill the values that are not numbers with NaN

In [ ]:
df['Latitude'] = pd.to_numeric(df['Latitude'], errors='coerce')
df['Longitude'] = pd.to_numeric(df['Longitude'], errors='coerce')

Another problem is that Namibia has a country code of NA, which is the same as NaN. We can replace the NaN values with NA string

In [ ]:
df['Country Code'] = df['Country Code'].fillna('NA')

Now we can convert the population and elevation columns to numeric

In [ ]:
df['Population'] = df['Population'].apply(lambda x: pd.to_numeric(x, errors = 'coerce'))
df['Elevation'] = df['Elevation'].apply(lambda x: pd.to_numeric(x,  errors = 'coerce'))

Now we can drop the columns that we don't need

In [ ]:
df = df.iloc[:,[1,2,3,6,7,-9,-8,-6,-4,-2,-1]]

Let's take a look at the missing values

In [ ]:
df.isna().sum()

Name                    0
ASCII Name              0
Alternate Names         0
Country Code            0
Country name EN         0
Population              1
Elevation          113012
Timezone                0
LABEL EN                0
Latitude                2
Longitude               2
dtype: int64

We can see that there are a lot of missing values in the elevation column. Let's delete it

In [ ]:
df = df.drop('Elevation', axis = 1)

Now we can drop the rows with missing values

In [ ]:
df = df.dropna()

Finally, we can save the dataframe to a csv file

FINAL RESULT

In [ ]:
df.head()

,Name,ASCII Name,Alternate Names,Country Code,Country name EN,Population,Timezone,LABEL EN,Latitude,Longitude
0,Pizhanka,Pizhanka,"Pizhanka,Pizjanka,Пижанка",RU,Russian Federation,3900.0,Europe/Kirov,Russian Federation,57.46042,48.54200
1,Pitelino,Pitelino,"Petelino,Pitelino,Пителино",RU,Russian Federation,2355.0,Europe/Moscow,Russian Federation,54.57768,41.81448
2,Petro-Slavyanka,Petro-Slavyanka,"Petro-Slav'anka,Petro-Slavjanka,Petro-Slavyank...",RU,Russian Federation,1308.0,Europe/Moscow,Russian Federation,59.80222,30.50694
3,Palkino,Palkino,"Palkino,Палкино,Պալկինո",RU,Russian Federation,3112.0,Europe/Moscow,Russian Federation,57.54089,28.01257
4,Orlovka,Orlovka,"Orlovka,Орловка",RU,Russian Federation,3236.0,Europe/Moscow,Russian Federation,44.69139,44.17444

Now the data is clean and ready for being used in visualizations.