In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
df = pd.read_csv('../../Grupo5_Analisis/Data/USAR/1.1.Mundo_migracion.csv', delimiter=';')
df.head()

,Country of residence,CB Africa,CB Asia,CB Europe,CB North America,CB Oceania,CB South and Central America and Caribbean,CB Other and unknown places of birth,CB All countries of birth
0,Australia,166094,1043140,2098131,70356,10658379,74278,746396,14856774
1,Austria,22397,59036,6578090,7625,1770,9731,795,6679444
2,Belgium,232434,62280,8160885,14141,1259,19992,538,8491529
3,Canada,277500,1886860,2306685,18791935,50010,587470,325,23900785
4,Czech Republic,1787,20690,8369031,1983,296,1446,176482,8571715

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country of residence                        28 non-null     object
 1   CB Africa                                   28 non-null     int64
 2    CB Asia                                    28 non-null     int64
 3   CB Europe                                   28 non-null     int64
 4    CB North America                           28 non-null     int64
 5   CB Oceania                                  28 non-null     int64
 6   CB South and Central America and Caribbean  28 non-null     object
 7   CB Other and unknown places of birth        28 non-null     object
 8    CB All countries of birth                  28 non-null     int64
dtypes: int64(6), object(3)
memory usage: 2.1+ KB

In [5]:
df.isnull().sum()

Country of residence                          0
CB Africa                                     0
 CB Asia                                      0
CB Europe                                     0
 CB North America                             0
CB Oceania                                    0
CB South and Central America and Caribbean    0
CB Other and unknown places of birth          0
 CB All countries of birth                    0
dtype: int64

In [6]:
df.shape

(28, 9)