In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
df = pd.read_csv('../../Grupo5_Analisis/Data/USAR/2.0.Espa√±a_poblacion_total.csv', delimiter=';')
df.head()

  Provincias   Sexo  Periodo       Total
0      Total  Total     2021  47.385.107
1      Total  Total     2020  47.450.795
2      Total  Total     2019  47.026.208
3      Total  Total     2018  46.722.980
4      Total  Total     2017  46.572.132

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4134 entries, 0 to 4133
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincias  4134 non-null   object
 1   Sexo        4134 non-null   object
 2   Periodo     4134 non-null   int64
 3   Total       3976 non-null   object
dtypes: int64(1), object(3)
memory usage: 129.3+ KB

In [4]:
df.describe()

           Periodo
count  4134.000000
mean   2008.500000
std       7.500907
min    1996.000000
25%    2002.000000
50%    2008.500000
75%    2015.000000
max    2021.000000

In [5]:
df.isnull().sum()

Provincias      0
Sexo            0
Periodo         0
Total         158
dtype: int64

In [6]:
df.shape

(4134, 4)

In [7]:
df.columns

Index(['Provincias', 'Sexo', 'Periodo', 'Total'], dtype='object')