In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
df = pd.read_csv('../../Grupo5_Analisis/Data/USAR/2.1.España.migracion.csv', delimiter=';')
df.head()

C:\Users\migue\AppData\Local\Temp\ipykernel_16584\2287168440.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../Grupo5_Analisis/Data/USAR/2.1.España.migracion.csv', delimiter=';')

        Nacionalidad    Provincias         Sexo   Año      Total
0  TOTAL EXTRANJEROS  TOTAL ESPAÑA  Ambos sexos  2022  5.542.932
1  TOTAL EXTRANJEROS  TOTAL ESPAÑA  Ambos sexos  2021  5.440.148
2  TOTAL EXTRANJEROS  TOTAL ESPAÑA  Ambos sexos  2020  5.434.153
3  TOTAL EXTRANJEROS  TOTAL ESPAÑA  Ambos sexos  2019  5.036.878
4  TOTAL EXTRANJEROS  TOTAL ESPAÑA  Ambos sexos  2018  4.734.691

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544575 entries, 0 to 544574
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Nacionalidad  544575 non-null  object
 1   Provincias    544575 non-null  object
 2   Sexo          544575 non-null  object
 3   Año           544575 non-null  int64
 4   Total         544575 non-null  object
dtypes: int64(1), object(4)
memory usage: 20.8+ MB

In [5]:
df.describe()

                 Año
count  544575.000000
mean     2010.000000
std         7.211109
min      1998.000000
25%      2004.000000
50%      2010.000000
75%      2016.000000
max      2022.000000

In [6]:
df.isnull().sum()

Nacionalidad    0
Provincias      0
Sexo            0
Año             0
Total           0
dtype: int64

In [7]:
df.shape

(544575, 5)

In [8]:
df.columns

Index(['Nacionalidad', 'Provincias', 'Sexo', 'Año', 'Total'], dtype='object')