In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
df = pd.read_csv('../../Grupo5_Analisis/Data/USAR/3.1.Madrid.migracion.csv')
df.head()

,municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
0,79,Madrid,79601,Centro,796011,Palacio,Hombre,Africa,163
1,79,Madrid,79601,Centro,796011,Palacio,Hombre,América Central y del Caribe,83
2,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Norte,169
3,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Sur,384
4,79,Madrid,79601,Centro,796011,Palacio,Hombre,Apátridas,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2560 entries, 0 to 2559
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   municipio_codigo       2560 non-null   int64
 1   municipio_nombre       2560 non-null   object
 2   distrito_codigo        2560 non-null   int64
 3   distrito_nombre        2560 non-null   object
 4   barrio_codigo          2560 non-null   int64
 5   barrio_nombre          2560 non-null   object
 6   sexo                   2560 non-null   object
 7   nacionalidad           2560 non-null   object
 8   poblacion_empadronada  2560 non-null   int64
dtypes: int64(4), object(5)
memory usage: 180.1+ KB

In [4]:
df.describe()

       municipio_codigo  distrito_codigo  barrio_codigo  poblacion_empadronada
count            2560.0      2560.000000    2560.000000            2560.000000
mean               79.0     79610.507812  796108.843750            1243.351953
std                 0.0         5.807914      58.087325            3952.810627
min                79.0     79601.000000  796011.000000               0.000000
25%                79.0     79606.000000  796061.750000               1.000000
50%                79.0     79610.000000  796106.500000              45.000000
75%                79.0     79615.000000  796155.250000             217.000000
max                79.0     79621.000000  796215.000000           38082.000000

In [5]:
df.isnull().sum()

municipio_codigo         0
municipio_nombre         0
distrito_codigo          0
distrito_nombre          0
barrio_codigo            0
barrio_nombre            0
sexo                     0
nacionalidad             0
poblacion_empadronada    0
dtype: int64

In [6]:
df.shape

(2560, 9)