In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import contextily as cx
import plotly.express as px
import folium
from folium import plugins
from folium.plugins import HeatMap

In [2]:
df = pd.read_csv('../../data/varios/ECB Data Portal_20230628183018.csv')
df.head()

         DATE TIME PERIOD  HICP - Overall index (ICP.M.U2.N.000000.4.ANR)
0  1997-01-31     1997Jan                                             2.0
1  1997-02-28     1997Feb                                             1.8
2  1997-03-31     1997Mar                                             1.6
3  1997-04-30     1997Apr                                             1.3
4  1997-05-31     1997May                                             1.4

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 3 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   DATE                                            317 non-null    object
 1   TIME PERIOD                                     317 non-null    object
 2   HICP - Overall index (ICP.M.U2.N.000000.4.ANR)  317 non-null    float64
dtypes: float64(1), object(2)
memory usage: 7.6+ KB

In [4]:
df.describe()

       HICP - Overall index (ICP.M.U2.N.000000.4.ANR)
count                                      317.000000
mean                                         1.991483
std                                          1.762305
min                                         -0.600000
25%                                          1.100000
50%                                          1.900000
75%                                          2.400000
max                                         10.600000

In [5]:
df.isnull().sum()

DATE                                              0
TIME PERIOD                                       0
HICP - Overall index (ICP.M.U2.N.000000.4.ANR)    0
dtype: int64