In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
df = pd.read_csv('../../Grupo5_Analisis/Data/Espa√±a_total_A.csv',delimiter=';')
df.head(10)

  Provincias   Sexo  Periodo       Total
0      Total  Total     2021  47.385.107
1      Total  Total     2020  47.450.795
2      Total  Total     2019  47.026.208
3      Total  Total     2018  46.722.980
4      Total  Total     2017  46.572.132
5      Total  Total     2016  46.557.008
6      Total  Total     2015  46.624.382
7      Total  Total     2014  46.771.341
8      Total  Total     2013  47.129.783
9      Total  Total     2012  47.265.321

In [6]:
df.tail()

      Provincias     Sexo  Periodo   Total
4129  52 Melilla  Mujeres     2000  32.287
4130  52 Melilla  Mujeres     1999  27.977
4131  52 Melilla  Mujeres     1998  29.539
4132  52 Melilla  Mujeres     1997     NaN
4133  52 Melilla  Mujeres     1996  29.929

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4134 entries, 0 to 4133
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincias  4134 non-null   object
 1   Sexo        4134 non-null   object
 2   Periodo     4134 non-null   int64
 3   Total       3976 non-null   object
dtypes: int64(1), object(3)
memory usage: 129.3+ KB

In [5]:
df.isnull().sum()

Provincias      0
Sexo            0
Periodo         0
Total         158
dtype: int64