In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [7]:
df = pd.read_csv('../../Grupo5_Analisis/Data/MADRID_UTF8_CLEAN.csv')
df.head(10)

,municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
0,79,Madrid,79601,Centro,796011,Palacio,Hombre,Africa,163
1,79,Madrid,79601,Centro,796011,Palacio,Hombre,América Central y del Caribe,83
2,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Norte,169
3,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Sur,384
4,79,Madrid,79601,Centro,796011,Palacio,Hombre,Apátridas,1
5,79,Madrid,79601,Centro,796011,Palacio,Hombre,Asia,251
6,79,Madrid,79601,Centro,796011,Palacio,Hombre,Oceanía,9
7,79,Madrid,79601,Centro,796011,Palacio,Hombre,Otros países de América,0
8,79,Madrid,79601,Centro,796011,Palacio,Hombre,Resto de Europa,47
9,79,Madrid,79601,Centro,796011,Palacio,Hombre,Unión Europea,9714

In [13]:
df.head(50)

,municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
0,79,Madrid,79601,Centro,796011,Palacio,Hombre,Africa,163
1,79,Madrid,79601,Centro,796011,Palacio,Hombre,América Central y del Caribe,83
2,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Norte,169
3,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Sur,384
4,79,Madrid,79601,Centro,796011,Palacio,Hombre,Apátridas,1
5,79,Madrid,79601,Centro,796011,Palacio,Hombre,Asia,251
6,79,Madrid,79601,Centro,796011,Palacio,Hombre,Oceanía,9
7,79,Madrid,79601,Centro,796011,Palacio,Hombre,Otros países de América,0
8,79,Madrid,79601,Centro,796011,Palacio,Hombre,Resto de Europa,47
9,79,Madrid,79601,Centro,796011,Palacio,Hombre,Unión Europea,9714
10,79,Madrid,79601,Centro,796011,Palacio,Mujer,Africa,56
11,79,Madrid,79601,Centro,796011,Palacio,Mujer,América Central y del Caribe,101
12,79,Madrid,79601,Centro,796011,Palacio,Mujer,América del Norte,221
13,79,Madrid,79601,Centro,796011,Palacio,Mujer,América del Sur,386
14,79,Madrid,79601,Centro,796011,Palacio,Mujer,Apátridas,0
15,79,Madrid,79601,Centro,796011,Palacio,Mujer,Asia,272
16,79,Madrid,79601,Centro,796011,Palacio,Mujer,Oceanía,13
17,79,Madrid,79601,Centro,796011,Palacio,Mujer,Otros países de América,0
18,79,Madrid,79601,Centro,796011,Palacio,Mujer,Resto de Europa,84
19,79,Madrid,79601,Centro,796011,Palacio,Mujer,Unión Europea,10418
20,79,Madrid,79601,Centro,796012,Embajadores,Hombre,Africa,1010
21,79,Madrid,79601,Centro,796012,Embajadores,Hombre,América Central y del Caribe,172
22,79,Madrid,79601,Centro,796012,Embajadores,Hombre,América del Norte,279
23,79,Madrid,79601,Centro,796012,Embajadores,Hombre,América del Sur,981
24,79,Madrid,79601,Centro,796012,Embajadores,Hombre,Apátridas,3
25,79,Madrid,79601,Centro,796012,Embajadores,Hombre,Asia,2544
26,79,Madrid,79601,Centro,796012,Embajadores,Hombre,Oceanía,13
27,79,Madrid,79601,Centro,796012,Embajadores,Hombre,Otros países de América,0
28,79,Madrid,79601,Centro,796012,Embajadores,Hombre,Resto de Europa,82
29,79,Madrid,79601,Centro,796012,Embajadores,Hombre,Unión Europea,17870
30,79,Madrid,79601,Centro,796012,Embajadores,Mujer,Africa,422
31,79,Madrid,79601,Centro,796012,Embajadores,Mujer,América Central y del Caribe,206
32,79,Madrid,79601,Centro,796012,Embajadores,Mujer,América del Norte,350
33,79,Madrid,79601,Centro,796012,Embajadores,Mujer,América del Sur,892
34,79,Madrid,79601,Centro,796012,Embajadores,Mujer,Apátridas,0
35,79,Madrid,79601,Centro,796012,Embajadores,Mujer,Asia,974
36,79,Madrid,79601,Centro,796012,Embajadores,Mujer,Oceanía,17
37,79,Madrid,79601,Centro,796012,Embajadores,Mujer,Otros países de América,0
38,79,Madrid,79601,Centro,796012,Embajadores,Mujer,Resto de Europa,126
39,79,Madrid,79601,Centro,796012,Embajadores,Mujer,Unión Europea,18705
40,79,Madrid,79601,Centro,796013,Cortes,Hombre,Africa,82
41,79,Madrid,79601,Centro,796013,Cortes,Hombre,América Central y del Caribe,35
42,79,Madrid,79601,Centro,796013,Cortes,Hombre,América del Norte,115
43,79,Madrid,79601,Centro,796013,Cortes,Hombre,América del Sur,215
44,79,Madrid,79601,Centro,796013,Cortes,Hombre,Apátridas,0
45,79,Madrid,79601,Centro,796013,Cortes,Hombre,Asia,138
46,79,Madrid,79601,Centro,796013,Cortes,Hombre,Oceanía,6
47,79,Madrid,79601,Centro,796013,Cortes,Hombre,Otros países de América,0
48,79,Madrid,79601,Centro,796013,Cortes,Hombre,Resto de Europa,23
49,79,Madrid,79601,Centro,796013,Cortes,Hombre,Unión Europea,4624

In [8]:
df.tail()

,municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
2555,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Asia,14
2556,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Oceanía,0
2557,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Otros países de América,0
2558,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Resto de Europa,9
2559,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Unión Europea,3670

In [14]:
df.describe(include='all')

,municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
count,2560.0,2560,2560.000000,2560,2560.000000,2560,2560,2560,2560.000000
unique,NaN,1,NaN,21,NaN,128,2,10,NaN
top,NaN,Madrid,NaN,Ciudad Lineal,NaN,Palacio,Hombre,Africa,NaN
freq,NaN,2560,NaN,180,NaN,20,1280,256,NaN
mean,79.0,NaN,79610.507812,NaN,796108.843750,NaN,NaN,NaN,1243.351953
std,0.0,NaN,5.807914,NaN,58.087325,NaN,NaN,NaN,3952.810627
min,79.0,NaN,79601.000000,NaN,796011.000000,NaN,NaN,NaN,0.000000
25%,79.0,NaN,79606.000000,NaN,796061.750000,NaN,NaN,NaN,1.000000
50%,79.0,NaN,79610.000000,NaN,796106.500000,NaN,NaN,NaN,45.000000
75%,79.0,NaN,79615.000000,NaN,796155.250000,NaN,NaN,NaN,217.000000
max,79.0,NaN,79621.000000,NaN,796215.000000,NaN,NaN,NaN,38082.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2560 entries, 0 to 2559
Data columns (total 1 columns):
 #   Column                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                 --------------  -----
 0   municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada  2560 non-null   object
dtypes: object(1)
memory usage: 20.1+ KB

In [10]:
df.isnull().sum()

municipio_codigo         0
municipio_nombre         0
distrito_codigo          0
distrito_nombre          0
barrio_codigo            0
barrio_nombre            0
sexo                     0
nacionalidad             0
poblacion_empadronada    0
dtype: int64