In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import country_converter as coco

In [2]:
df = pd.read_csv('../Data/Madrid_en_cifras_2021A.csv')
df.head()

  El municipio en cifras
0              Poblacion
1   Año;Periodos;Madrid;
2    1987;Anual;3100507;
3    1988;Anual;3102846;
4    1989;Anual;3108463;

In [3]:
df.describe()

       El municipio en cifras
count                      38
unique                     38
top                 Poblacion
freq                        1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 1 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   El municipio en cifras  38 non-null     object
dtypes: object(1)
memory usage: 432.0+ bytes

In [5]:
df.isnull().sum()

El municipio en cifras    0
dtype: int64

In [6]:
df.plot()

TypeError: no numeric data to plot